// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// colors
$primary: #308DC2;
$secondary: #48a9a6;
$danger: #ba2d42;
$dark: #6d6d6d;
$component-active-bg: #48a9a6;